In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
train_data = pd.read_csv('train.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_data = train_data.drop(['Name','Ticket'], axis=1)

In [5]:
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S

In [6]:
train_data.nunique()

PassengerId    891
Survived         2
Pclass           3
Sex              2
Age             88
SibSp            7
Parch            7
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [7]:
len(train_data)

891

In [8]:
len(train_data.dropna())

183

In [9]:
train_data['Cabin'].isna().sum()

687

<p>Dropping Cabin as there are too many NaN values

In [10]:
train_data = train_data.drop(['Cabin'],axis=1)

In [11]:
train_data[train_data['Pclass']==3].mean()

PassengerId    439.154786
Survived         0.242363
Pclass           3.000000
Age             25.140620
SibSp            0.615071
Parch            0.393075
Fare            13.675550
dtype: float64

In [12]:
train_data[train_data['Pclass']==2].mean()

PassengerId    445.956522
Survived         0.472826
Pclass           2.000000
Age             29.877630
SibSp            0.402174
Parch            0.380435
Fare            20.662183
dtype: float64

In [13]:
train_data[train_data['Pclass']==1].mean()

PassengerId    461.597222
Survived         0.629630
Pclass           1.000000
Age             38.233441
SibSp            0.416667
Parch            0.356481
Fare            84.154687
dtype: float64

<p>Can drop Fare as Passenger class column is indicative of Fare

In [14]:
train_data = train_data.drop(['Fare'], axis=1)

In [15]:
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0            1         0       3    male  22.0      1      0        S
1            2         1       1  female  38.0      1      0        C
2            3         1       3  female  26.0      0      0        S
3            4         1       1  female  35.0      1      0        S
4            5         0       3    male  35.0      0      0        S

In [16]:
train_data['Sex'].replace({'female':0,'male':1},inplace=True)

In [17]:
train_data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [18]:
train_data['Embarked'].replace({'S':0,'C':1,'Q':3,np.nan:0}, inplace=True)
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0            1         0       3    1  22.0      1      0         0
1            2         1       1    0  38.0      1      0         1
2            3         1       3    0  26.0      0      0         0
3            4         1       1    0  35.0      1      0         0
4            5         0       3    1  35.0      0      0         0

In [25]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.regularizers import l2
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [20]:
model = Sequential()

In [21]:
X_train,x_test,Y_train,y_test = train_test_split(train_data[['Pclass','Sex','Age','SibSp','Parch','Embarked']], train_data['Survived'])

In [22]:
X_train.shape,Y_train.shape

((668, 6), (668,))

In [38]:
model.add(Dense(300,activation='relu',input_dim=6,kernel_regularizer=l2(0.01)))
model.add(Dropout(0.2))
model.add(Dense(150,activation='relu',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.2))
model.add(Dense(100,activation='relu',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.2))
model.add(Dense(50,activation='relu',kernel_regularizer=l2(0.01)))
model.add(Dropout(0.2))

model.add(Dense(1,activation='sigmoid'))

In [39]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [40]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               700
_________________________________________________________________
dropout_1 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_2 (Dense)              (None, 50)                5050
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 51
_________________________________________________________________
dense_4 (Dense)              (None, 100)               200
_________________________________________________________________
dropout_3 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_5 (Dense)              (None, 50)                5050
_________________________________________________________________
dropout_4 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_6 (Dense)              (None, 50)                2550
_________________________________________________________________
dropout_5 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_7 (Dense)              (None, 50)                2550
_________________________________________________________________
dropout_6 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 51
_________________________________________________________________
dense_9 (Dense)              (None, 300)               600
_________________________________________________________________
dropout_7 (Dropout)          (None, 300)               0
_________________________________________________________________
dense_10 (Dense)             (None, 150)               45150
_________________________________________________________________
dropout_8 (Dropout)          (None, 150)               0
_________________________________________________________________
dense_11 (Dense)             (None, 100)               15100
_________________________________________________________________
dropout_9 (Dropout)          (None, 100)               0
_________________________________________________________________
dense_12 (Dense)             (None, 50)                5050
_________________________________________________________________
dropout_10 (Dropout)         (None, 50)                0
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 51
=================================================================
Total params: 82,153
Trainable params: 82,153
Non-trainable params: 0
_________________________________________________________________

In [36]:
mean_age=train_data['Age'].mean()

In [31]:
train_data.replace({np.nan:abs(mean_age)},inplace=True)

In [41]:
model_op = model.fit(X_train,Y_train,epochs=100,verbose=1,validation_data=(x_test,y_test))

Train on 668 samples, validate on 223 samples
Epoch 1/100
668/668 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.5943 - val_loss: nan - val_accuracy: 0.6054
Epoch 2/100
668/668 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 3/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 4/100
668/668 [==============================] - 0s 204us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 5/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 6/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 7/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 8/100
668/668 [==============================] - 0s 218us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 9/100
668/668 [==============================] - 0s 217us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 10/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 11/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 12/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 13/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 14/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 15/100
668/668 [==============================] - 0s 216us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 16/100
668/668 [==============================] - 0s 218us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 17/100
668/668 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 18/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 19/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 20/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 21/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 22/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 23/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 24/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 25/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 26/100
668/668 [==============================] - 0s 217us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 27/100
668/668 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 28/100
668/668 [==============================] - 0s 196us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 29/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 30/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 31/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 32/100
668/668 [==============================] - 0s 214us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 33/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 34/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 35/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 36/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 37/100
668/668 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 38/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 39/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 40/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 41/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 42/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 43/100
668/668 [==============================] - 0s 218us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 44/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 45/100
668/668 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 46/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 47/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 48/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 49/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 50/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 51/100
668/668 [==============================] - 0s 216us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 52/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 53/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 54/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 55/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 56/100
668/668 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 57/100
668/668 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 58/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 59/100

668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 60/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 61/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 62/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 63/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 64/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 65/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 66/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 67/100
668/668 [==============================] - 0s 204us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 68/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 69/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 70/100
668/668 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 71/100
668/668 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 72/100
668/668 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 73/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 74/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 75/100
668/668 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 76/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 77/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 78/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 79/100
668/668 [==============================] - 0s 218us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 80/100
668/668 [==============================] - 0s 214us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 81/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 82/100
668/668 [==============================] - 0s 217us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 83/100
668/668 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 84/100
668/668 [==============================] - 0s 214us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 85/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 86/100
668/668 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 87/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 88/100
668/668 [==============================] - 0s 217us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 89/100
668/668 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 90/100
668/668 [==============================] - 0s 216us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 91/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 92/100
668/668 [==============================] - 0s 218us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 93/100
668/668 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 94/100
668/668 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 95/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 96/100
668/668 [==============================] - 0s 200us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 97/100
668/668 [==============================] - 0s 218us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 98/100
668/668 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 99/100
668/668 [==============================] - 0s 207us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054
Epoch 100/100
668/668 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6198 - val_loss: nan - val_accuracy: 0.6054

In [42]:
test_model_op = model.fit(train_data[['Pclass','Sex','Age','SibSp','Parch','Embarked']], train_data['Survived'],epochs=100,verbose=1,validation_data=(x_test,y_test))

Train on 891 samples, validate on 223 samples
Epoch 1/100
891/891 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 2/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 3/100
891/891 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 4/100
891/891 [==============================] - 0s 204us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 5/100
891/891 [==============================] - 0s 200us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 6/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 7/100
891/891 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 8/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 9/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 10/100
891/891 [==============================] - 0s 202us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 11/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 12/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 13/100
891/891 [==============================] - 0s 201us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 14/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 15/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 16/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 17/100
891/891 [==============================] - 0s 202us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 18/100
891/891 [==============================] - 0s 197us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 19/100
891/891 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 20/100
891/891 [==============================] - 0s 198us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 21/100
891/891 [==============================] - 0s 198us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 22/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 23/100
891/891 [==============================] - 0s 204us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 24/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 25/100
891/891 [==============================] - 0s 201us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 26/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 27/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 28/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 29/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 30/100
891/891 [==============================] - 0s 204us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 31/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 32/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 33/100
891/891 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 34/100
891/891 [==============================] - 0s 200us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 35/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 36/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 37/100
891/891 [==============================] - 0s 193us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 38/100
891/891 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 39/100
891/891 [==============================] - 0s 207us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 40/100
891/891 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 41/100
891/891 [==============================] - 0s 199us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 42/100
891/891 [==============================] - 0s 201us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 43/100
891/891 [==============================] - 0s 200us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 44/100
891/891 [==============================] - 0s 216us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 45/100
891/891 [==============================] - 0s 201us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 46/100
891/891 [==============================] - 0s 199us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 47/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 48/100
891/891 [==============================] - 0s 204us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 49/100
891/891 [==============================] - 0s 207us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 50/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 51/100
891/891 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 52/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 53/100
891/891 [==============================] - 0s 201us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 54/100
891/891 [==============================] - 0s 207us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 55/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 56/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 57/100
891/891 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 58/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 59/100

891/891 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 60/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 61/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 62/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 63/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 64/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 65/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 66/100
891/891 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 67/100
891/891 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 68/100
891/891 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 69/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 70/100
891/891 [==============================] - 0s 213us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 71/100
891/891 [==============================] - 0s 208us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 72/100
891/891 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 73/100
891/891 [==============================] - 0s 207us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 74/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 75/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 76/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 77/100
891/891 [==============================] - 0s 216us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 78/100
891/891 [==============================] - 0s 214us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 79/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 80/100
891/891 [==============================] - 0s 216us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 81/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 82/100
891/891 [==============================] - 0s 214us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 83/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 84/100
891/891 [==============================] - 0s 212us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 85/100
891/891 [==============================] - 0s 210us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 86/100
891/891 [==============================] - 0s 215us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 87/100
891/891 [==============================] - 0s 211us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 88/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 89/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 90/100
891/891 [==============================] - 0s 203us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 91/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 92/100
891/891 [==============================] - 0s 206us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 93/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 94/100
891/891 [==============================] - 0s 214us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 95/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 96/100
891/891 [==============================] - 0s 205us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 97/100
891/891 [==============================] - 0s 207us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 98/100
891/891 [==============================] - 0s 209us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 99/100
891/891 [==============================] - 0s 217us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054
Epoch 100/100
891/891 [==============================] - 0s 217us/step - loss: nan - accuracy: 0.6162 - val_loss: nan - val_accuracy: 0.6054

In [43]:
def loss_func(y_true,y_pred):
    return tf.reduce_mean(y_pred-y_true)+0.00001

In [50]:
opt = tf.keras.optimizers.Adam(
    learning_rate=0.2,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-07,
    amsgrad=False,
)

In [51]:
model.compile(loss=loss_func, optimizer=opt, metrics=['accuracy'])

In [54]:
test_model_op = model.fit(train_data[['Pclass','Sex','Age','SibSp','Parch','Embarked']], train_data['Survived'],epochs=100, verbose=0)

In [55]:
test_data = pd.read_csv('test.csv')

In [56]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [58]:
test_data.drop(['Name','Ticket','Fare','Cabin'], axis=1,inplace=True)

In [59]:
test_data['Sex'].replace({'female':0,'male':1},inplace=True)

In [61]:
test_data['Embarked'].replace({'S':0,'C':1,'Q':3,np.nan:0}, inplace=True)

In [62]:
test_data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch  Embarked
0          892       3    1  34.5      0      0         3
1          893       3    0  47.0      1      0         0
2          894       2    1  62.0      0      0         3
3          895       3    1  27.0      0      0         0
4          896       3    0  22.0      1      1         0

In [63]:
mean_age=test_data['Age'].mean()
test_data.replace({np.nan:abs(mean_age)},inplace=True)

In [64]:
test_data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch  Embarked
0          892       3    1  34.5      0      0         3
1          893       3    0  47.0      1      0         0
2          894       2    1  62.0      0      0         3
3          895       3    1  27.0      0      0         0
4          896       3    0  22.0      1      1         0

In [65]:
y_pred = model.predict(test_data[['Pclass','Sex','Age','SibSp','Parch','Embarked']])

In [66]:
y_pred

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]], dtype=float32)